<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,Log4net" />
  <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" /></configSections>
  
  <appSettings>
    <add key="GmailURL" value="https://gmail.com" />
    <add key="ValidLogin" value="test.task.zel@gmail.com" />
    <add key="ValidPassword" value="Test1234Test" />
    <add key="InvalidLogin" value="test.task.zel@invalid.com" />
    <add key="InvalidPassword" value="TestTest" />
    <add key="TextSample" value="Text Sample" />
  </appSettings>
  
  <log4net>
    <root>
      <level value="ALL" />
      <appender-ref ref="MyAppender" />
    </root>
    <appender name="MyAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %level %logger - %message%newline" />
      </layout>
    </appender>
  </log4net>
<specFlow>
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
  </specFlow></configuration>